<!DOCTYPE html>
<html>
  <head>
      <!-- <link rel="stylesheet" href="destiny.css"> -->
      <meta charset="utf-8">
    <title>KEETØ~9's</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/manufacturers">MANUFACTURERS</a>
          <a href="/weapons_index">WEAPONS</a>
          <a href="/weapons">INVENTORY</a>
          <a href="/">BACK</a>
        </li>
      </ul>
    </nav>
    <div class="banner">
      <div class="banner-text">
        <h1>KEETØ~9 Gunsmith</h1>
        <h3>Rëpåirs; Upgrådës; Mødificåtiøns</h3>
        <h6>~If (SIVÅ) return replicåtë // ëlsif (!SIVÅ) run åssimilåtiøn()~</h6>
          <style>
            .button {
          background-color: #20e85f;
          border: 1px;
          color: #1b8ae5;
          padding: 10px 5px;
          text-align: center;
          text-decoration-color: silver;
          display: inline-block;
          font-size: 20px;
          margin: 420px 75px;
          cursor: crosshair;
          }
          </style>
           <a href="/weapons">INVENTORY</a>
      </div>
    </div>
<%= yield%>
  </body>
</html>
