<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="./inventory.css">
  <meta charset="utf-8">
  <title>KEET칒~9's</title>
</head>
<body>
  <div class="banner">
    <div class="banner-text">
      <h1>KEET칒~9 Gunsmith</h1>
      <h3>R칢p친irs; Upgr친d칢s; M칮dific친ti칮ns</h3>
      <h6>~If (SIV칀) return replic친t칢 // 칢lsif (!SIV칀) run 친ssimil친ti칮n()~</h6>
      <!-- /*<style>
      .button {
        background-color: #20e85f;
        border: 1px;
        color: #1b8ae5;
        padding: 10px 5px;
        text-align: center;
        text-decoration-color: gold;
        display: inline-block;
        font-size: 20px;
        margin: 420px 75px;
        cursor: crosshair;
      }
      </style>*/ -->
      <nav>
        <ul>
          <li>
              <a href="/">游_HOME</a>
            <a href="/manufacturers">MANUFACTURERS</a>
            <a href="/weapons_index">WEAPONS</a>
            <a href="/weapons">INVENTORY</a>



            </form>
          </li>
        </ul>
      </nav>
      <!-- <a href="/weapons">INVENTORY</a> -->
    </div>
  </div>
  <%= yield%>
</body>

</html>
