<form method="post" action="/manufacturers">

<label for="name">Name:</label>
<input id="name" type="text" name="name" />

<label for="type">Type:</label>
<input id="type" typr="text" name="type" />

<label for="cost-price">Cost Price:</label>
<input id="cost-price" type="text" name="cost_price" />

<label for="retail-price">Retail Price:</label>
<input id="retail-price" type="text" name="retail_price" />

<label for="mark-up">Mark Up:</label>
<input id="mark-up" type="text" name="mark_up" />

<label for="quality">Quality:</label>
<input id="quality" type="quality" name="quality" />
