html, body {
  margin: 0;
  padding: 0;
  font-family: monospace, Arial, sans-serif;
  font-weight: bold;
  background: #fff;
}
h1 { font-size: 80px; }

h3 {
  font-family: monospace;
  font-size: 40px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h4 {
  padding: 40px;
  font-size: 20px;
  font-family: Inconsolata, monospace;
  font-weight: bold;
}

.banner h1, .banner h3, .banner h6 {
  margin: 0;
  text-shadow: 2px 2px 6px gold;
  text-align: right;
}

.banner {
  color: #000;
  background: url('https://images-na.ssl-images-amazon.com/images/I/A1m3R3xCcJS.png') top left/cover no-repeat;
  height: 800px;
  display: flex;
  justify-content: flex-end;
  align-items: left;
}
