<% @weapons.each do |weapon| %>
<p>Name: <%=weapon.name() %><span></span> Holding <%=weapon.quantity %></p>
<% end %>

<form method="get" action="/weapons/new">
  <input type="submit" value="Create"/>
</form>
