<table align = center
  margin = 10px; position = right; border = 6; width = 50%;>

  <tr>
    <th> Weapon Name</th>
    <th> Quantity</th>
  </tr>

  <% @weapons.each do |weapon| %>

  <tr>
    <td> <%= weapon.name %></td>
    <td> <%= weapon.quantity %></td>
  </tr>
  <% end %>
</table>
