<form method="post" action="/weapons">

<label for="name">Name:</label>
<input id="name" type="text" name="name" />

<label for="quantity">Quantity:</label>
<input id="quantity" type="number" name="quantity" />
<input type="submit" name="" value="Confirm">
</form>
