<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="destiny.css">
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="banner">
    <div class="banner-text">
      <h1>KËËTØ~9 Gunsmith</h1>
      <h3>Rëpåirs; Upgrådës; Mødificåtiøns</h3>
      <h6>~If (SIVÅ) return replicåtë // ëlsif (!SIVÅ) run åssimilåtiøn()~</h6>
    </div>
  </div>
</body>
</html>
