<form method="post" action="/weapons_index">

<label for="type">Name:</label>
<input id="type" type="text" name="name" />

<label for="type">Quantity:</label>
<input id="type" type="text" name="name" />
